.content-tinhhinh
{
    margin-top: 80px;
}
.row
{
    margin-top: 30px;
}
.ingredient
{
    padding: 20px 30px;
    margin-left: 5%;
    box-shadow: 0 0 20px rgb(107, 170, 211);
    border-radius: 20px;
}

.ingredient h2
{
    font-size: 24px;
    color: rgb(70, 123, 158);
}

.ingredient img 
{
    width: 70%;
    margin-left: 15%;
}

.ingredient .text
{
    font-size: 18px;
}

.ingredient button
{
    margin-left: 25%;
    margin-top: 20px;
    font-size: 26px;
    background-color: rgb(107, 170, 211);
    border: none;
    padding: 10px 30px;
    border-radius: 50px;
    opacity: 0.7;
}
.ingredient button a
{
    
    color: black;
}
.ingredient button:hover
{
    opacity: 1;
    transition: 0.45s;
    transform: scale(1.1);
}
.ket
{
    text-align: center;
    font-size: 20px;
    color: rgb(107, 170, 211);
    border: 5px double rgb(70, 123, 158);
    border-radius: 10px;
    width: 60%;
    margin-left: 20%;
    padding: 15px;
}